{% extends 'base.html.twig' %}
{% block content %}
    <div class="content-background-color rounded-4 overflow-hidden w-100 h-25 mb-3">
        <div class="h-100 w-100 m-3 overflow-auto">
            <div class="w-50 float-md-start text-md-start">
                <h1>{{ offer.name }}</h1><br>
                <h5>{{ offer.owner.getName() }}</h5>
            </div>
            <div class="text-md-end me-4">
                <h6>{{ offer.city }}</h6> <br>
                <h6>Salary:{{ offer.price }}</h6>
            </div>
        </div>
    </div>
    <div class="content-background-color rounded-4 overflow-hidden w-100 h-100 text-md-start">
        <div class="h-100 w-100 m-3 overflow-auto">
            <h6>{{ offer.description }}</h6> <br>
        </div>
    </div>

    <div class="content-background-color rounded-4 overflow-hidden w-100 h-15 mb-4 mt-4">
        <div class="m-3">
            {% if is_granted('EDIT', offer) %}
                <a class="btn btn-warning float-md-start"
                   href="{{ path('app_application_show_list', { slug: offer.slug }) }}">Show applications</a>
                <a class="btn btn-primary float-md-end" style="margin-left: 10px;"
                   href="{{ path('app_edit_offer', { slug: offer.slug }) }}">Edit</a>
                <a class="btn btn-danger float-md-end" href="{{ path('app_delete_offer', { slug: offer.slug }) }}">Delete</a>
            {% elseif is_granted('ROLE_USER') and not is_granted('ROLE_EMPLOYER') %}
                <div class="col-12">
                    <a class="btn btn-lg btn-outline-primary float-md-start" type="submit"
                       href="{{ path('app_application', { slug: offer.slug }) }}">
                        Apply for this position
                    </a>
                    <div class="float-md-start m-2 text-white-50">
                        You will be redirected to the form page
                    </div>
                </div>
            {% elseif is_granted('IS_ANONYMOUS') %}
                <h3>Log in to apply for this position</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}