{% extends 'base.html.twig' %}
{% block content %}
    {% for message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="content-background-color rounded-4 overflow-hidden w-100 h-15 mb-3">
        <div class="h-100 w-100 m-3 overflow-auto text-md-start">
            <h1>{{ company.name }}</h1><br>
            <h5>{{ company.city }}</h5>
        </div>
    </div>

    <div class="content-background-color rounded-4 overflow-hidden w-100 h-50 mb-3">
        <div class="h-100 w-100 mt-3 overflow-auto">
            <div id="title">
                <div class="w-50, float-md-start text-md-start">
                    <h3>My offers</h3>
                </div>
                <div class="w-50, float-md-end me-3">
                    <a class="btn btn-success" href="{{ path('app_new_offer') }}">New</a>
                </div>
            </div>
            <div>
                <table class="table table-hover table-active border-dark rounded-4 overflow-hidden">
                    <thead class="text-white text-sm-start">
                    <tr>
                        <th scope="col">Offer</th>
                        <th scope="col">City</th>
                        <th scope="col">Salary</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for offer in offers %}
                        <tr class="text-sm-start" data-href="{{ path('app_offer_show', { slug: offer.slug }) }}">
                            <td class="text-white" style="font-size: x-large">{{ offer.name }}</td>
                            <td class="text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-building-fill" viewBox="0 0 16 16">
                                    <path d="M3 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3v-3.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V16h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H3Zm1 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Z"/>
                                </svg>
                                {{ offer.city }}</td>
                            <td class="text-sm-end text-bg-info">{{ offer.price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_OWNER_COMPANY') %}
        <div class="content-background-color rounded-4 overflow-hidden w-100 h-25 mb-4">
            <div class="h-100 w-100 m-3 overflow-auto">

                <div id="title">
                    <div class="float-md-start text-md-start">
                        <h3>My Employees</h3>
                    </div>
                    <div class="me-3">
                        {{ form_start(form) }}
                        <div class="float-md-end ms-1">
                            {{ form_row(form.add) }}
                        </div>
                        <div class="float-md-end w-25">
                            {{ form_row(form.email) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div>
                    <table class="table table-hover table-active border-dark rounded-4 overflow-hidden">
                        <thead class="text-white text-sm-start">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for employer in employers %}
                            <tr class="text-sm-start" data-href="#">
                                <td class="text-white">{{ employer.firstName }}</td>
                                <td class="text-white">{{ employer.email }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
